@charset "utf-8";

body{
    background-color: #E4C1BE;
}

h1{
    text-align: center;
  border: double 5px;
}

h2{
    text-align: center;
  }

  .aa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  h3{
    text-align: center;
  }

  .bb{
    width: 200px;
    height: 270px;
    float: right;
  }