@charset "UTF-8";

html{
    font-size: 0.625rem;
}

body{
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: .1em;
    color: #f2f2f2;

    background-color: #E4C1BE;

}
.container{
    height: auto;
    width: 1000px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


header{
    width: 65%;
    margin: 200px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

nav ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
}

nav ul li{
      background: #E4C1BE;
      box-shadow:  6px 6px 15px #c0a2a0, -6px -6px 15px #ffe0dc;
}

nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: .5rem 2rem;
}

nav ul li:hover{
    box-shadow: inset 6px 6px 15px #c0a2a0, inset -6px -6px 15px #ffe0dc;
}



@keyframes shake{
    0%{transform:   rotate(15deg);}
    20%{transform:   rotate(-15deg);}
    40%{transform:   rotate(15deg);}
    60%{transform:   rotate(-15deg);}
    80%{transform:   rotate(15deg);}
}

.kobihamu{
    float: right;
}