@charset "utf-8";
body{
    font-family: serif;
    margin: 0;
    height: 0;
   background-image: url("../img/Kainan.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


header nav a{
    font-size: 58px;
}

h1{
    width: 50%;
}

img{
    width: 500px;
    height: 700px;
    top: 252px;
    position: fixed;
    display: block;
    margin-left: 130px;
}

.top nav{
    width: 1020px;
    height: 870px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 40px;
    margin-left: 730px;
    border-radius: 30px;
    position: fixed;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.top nav a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    padding: 0PX 15PX;
    font-weight: bold;
    display: inline-block;
}

.top nav a:hover{
    text-decoration:none;
    color: red;
}

.top nav a p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.top nav a p:hover{
    color: red;
}

.top nav .zentai a{
    color: rgb(173, 215, 255);
    text-decoration:none;
    padding: 5PX 5PX;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
}

.top nav .zentai a:hover{
    text-decoration:none;
    color: rgb(255, 60, 0);
}