@charset "utf-8";

footer{
    text-align: right;
    font-size: 13px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.f-container{
    display: flex;
    background-color: #CCCCCC;
    padding: 5px;
    justify-content: center;
}

.f-item{
    background-color: #FFFFFF;
    border: solid 4px #003366;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

a{
    text-decoration-line: none;
}

.f-item:hover{
    background-color: rgba(35, 85, 195, 0.3);
    color: red;
}

.top-1{
    font-size: 50px;
    color: white;
    background-color: rgba(20, 55, 225, 70%);
    border: outset 5px;
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}