@charset "utf-8";
body{
    background-image: url(../img/saka.css.webp);
    background-color: rgb(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
}

.container{
    width: 100%;
    height: 1000px;
    background-position: bottom;
    background-color: rgba(240, 243, 237,0.5);
    background-size: auto;
    position: absolute;
}

.bgimg{
    width: 100%;
    height: 1000px;
    position: fixed;
}

.smark{
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

#midashi{
    font-size: 50px;
    text-align: center;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#nav li{
    font-size: 25px;
}

a{
    text-decoration: none;
    font-size: 35px;
}