html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #4e454a;
    letter-spacing: 10px;
    line-height: 5;
    transition: transform 0.5s;
}
a:hover{
    color: #998791;
    transform: scale(1.1);
}
