@charset "utf-8";
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    justify-content: space-around;
    /*border-right: solid 1px black;
    border-left: solid 1px black;*/
}
h1{
    width: 100%;
    text-align: center;
}

.box{
    height: 245px;
    text-align: center;
    width: 40%;
    border: solid 5px rgb(3, 3, 3);
    border-radius: 20%;
    margin: 20px;
    padding-top: 100px;
}

#seinen{
    padding-top: 77px;
    padding-bottom: 23px;
  
}
#suki{
    padding-top: 52px;
    padding-bottom: 48px;
}
#kirai{
    padding-top: 77px;
    padding-bottom: 23px;
}
#nigate{
    padding-top: 52px;
    padding-bottom: 48px;
}

ul{
    display: flex;
    flex-direction: row;
    width: 100%;
}

li{
    width: 30%;
}

a{
    width: 30%;
    font-size: 30px;
}

.mannaka{
    padding-left: 400px;
}